<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Utama</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/style-main-admin.css') }}">
  </head>
  <body>
    <div class="container">
      <!-- Header -->
      <header>
        <h1>Selamat datang, {{name}}!</h1>
        {% include 'admin/logoutFragment.html' %}
      </header>
      
      <!-- Sidebar -->
      {% include 'admin/sidebarFragment.html' %}
      
      <!-- Main Content -->
      <main>
        <div class="stats-box">
          <h2>Stats</h2>
          <div id="stat">
            <p>Total Member: <strong>{{users}}</strong></p>
            <p>Total Transaksi Member: <strong>{{total_transaksi_member}}</strong></p>
            <p>Total Transaksi Pusat: <strong>{{total_transaksi_pusat}}</strong></p>
            <p>Total Pendapatan: <strong>{{total_pendapatan}}</strong></p>
          </div>
        </div>
        <div class="transaksi">
          <button id="beli-button" onclick="window.location.href='beli_sampah';">Beli Sampah</button>
          <button id="jual-button" onclick="window.location.href='jual_sampah';">Jual Sampah</button>
        </div>
      </main>
    </div>
  </body>
</html>
