<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Data Penjualan Sampah</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style-data-jual-admin.css') }}">
</head>
<body>
  <div class="container">
    <!-- Header -->
    <header>
      <h1>Data Penjualan Sampah</h1>
      {% include 'logoutFragment.html' %}
    </header>
    
    <!-- Sidebar -->
    {% include 'sidebarFragment.html' %}
    
    <!-- Main Content -->
    <main>
      <div class="search-bar">
        <form method="GET">
            <span>Rentang Waktu</span>
            <input type="date" name="tgl-mulai">
            <span>s.d.</span>
            <input type="date" name="tgl-akhir">
            <button id="search-button">Cari</button>
        </form>
        <br>
      </div>
      <br>
        
      <table>
          <tr>
              <th>ID Transaksi</th>
              <th>Tanggal</th>
              <th>Nama TPA</th>
              <th>Detail Transaksi</th>
          </tr>
          {% for item in setoran_pusat %}
          <tr>
              <td>{{item.id_transaksi}}</td>
              <td>{{item.tanggal}}</td>
              <td>{{item.nama_tpa}}</td>
              <td><a href="">Detail</a></td>
          </tr>
          {% endfor %}
      </table>
    </main>
  </div>
</body>
</html>
