<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-penjualan-sampah.css') }}">
    <title>Jual Sampah</title>
</head>
<body>  
    <div class="container">
        <h1>Jual Sampah</h1>
        <form>
            <label for="nama">Nama TPA</label>
            <input type="text" id="nama" name="nama" placeholder="Masukkan nama TPA" required>

            <table>
                <tr>
                    <th>Nama Sampah</th>
                    <th>Satuan</th>
                    <th>Kuanititas</th>
                </tr>
                <tr>
                    <td>Plastik</td>
                    <td>pcs</td>
                    <td><input type="number"></td>
                </tr>
            </table>

            <!--
            <div id="container-summary">
                <br>
                
                <h3>Summary</h3>
                <table>
                    <tr>
                        <td>barang 1</td>
                        <td>.....</td>
                        <td>kuantitas barang 1</td>
                    </tr>
                </table>
            </div>
            -->

            <span id="container-total">
                Total: Rp. <span id="total">0</span>
            </span>

            <div class="buttons">
                <button type="button" onclick="location.href='index.html'">Kembali</button>
                <button id="beli" type="button">Beli</button>
                <button type="submit" id="beli">Konfirmasi</button>
            </div>
        </form>
    </div>
</body>
</html>
